<div>
  <figure>
    <img [src]="ImageSrc()" alt="" />
  </figure>
  <div class="description">
    <div class="category">{{ Category() }}</div>
    <div class="title">{{ Title() }}</div>
    <div class="subtitle">{{ Subtitle() }}</div>
  </div>
  <div class="amount">
    <div>
      <i class="bi bi-plus"></i>
    </div>
    <div>{{ Amount() }}</div>
    <div>
      <i class="bi bi-dash"></i>
    </div>
  </div>
  <div>
    <div class="price">{{ Price() }}</div>
    <div class="original-price">{{ OriginalPrice() }}</div>
  </div>
  <div class="close-icon">
    <i class="bi bi-x"></i>
  </div>
</div>
