.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.category-image{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    opacity: 0.4;
}
.img-hover .category-image{
    transition: .5s ease;
    transform: rotate(12deg)  translate(3rem, -2rem);
}
.img-hover:hover .category-image{
    transform: rotate(12deg)  translate(3rem, -2rem) scale(1.05);
}
