<section class="bg-secondary-subtle py-5">
    <div class="max-w-screen-2xl mx-auto px-12">
        <div class="text-center mb-20">
            <h2 class="text-5xl font-extrabold font-headline tracking-tighter mb-4">Meet the Team</h2>
            <p class="text-on-surface-variant">The curators behind your sonic experience.</p>
        </div>
        <div class="row">
            <!-- Team Card 1 -->
            <div
                class="col-lg-4 col-12 group relative bg-surface-container-lowest p-4 ">

                <div
                    class="p-5 text-center overflow-hidden grayscale group-hover:grayscale-0 transition-all duration-700">
                    <img class="w-100"
                        data-alt="Professional portrait of a male creative director in black and white style, clean background"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuCzn1TV_Z-DjrIp7e4BJ2-vrZ-H_MqHtVtMJgyGfL4zislWlM6d_FMPJXcUwqkBv1Y9UgGV2mn0xgKz1zGQ2fN48qHTqoR3h04qVUyndU0zEjLQNySh3v8Unr2Il3kFQ5X-W6zhFRIuoXDybf-ttQgygaZ6cBrMSqA-Jpvp_l5IYV9mi5yog6HGAM-f1Br1JxhqBCO1W1kG0-R8luQHrdAIvQHBWF6_VFrDouZskQI2YW_lXRykQUpXXvO4ySnCqWhKFuCfsfZ-X-Y" />
                </div>
                <div class="mt-6 text-center">
                    <h3 class="text-xl font-bold font-headline">Julian Thorne</h3>
                    <p class="text-sm text-on-surface-variant font-label tracking-wide uppercase mt-1">Founder &amp; CEO
                    </p>
                </div>
            </div>
            <!-- Team Card 2 -->
            <div
                class="col-lg-4 col-12 group relative bg-surface-container-lowest p-4 ">

                <div
                    class="p-5 text-center overflow-hidden grayscale group-hover:grayscale-0 transition-all duration-700">
                    <img class="w-100"
                        data-alt="Professional portrait of a female lead designer in black and white style, elegant lighting"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuAqGThTXTNdzJguxMyxiX2r8e-h09VDDEqE9-NviQKJdezsj9yeMF4ry-ZhHkzrc7XtTeIAUX36LceZ4X3vhYXbRoxQboY6k8ITQWD7GrWdf_CdsJ4oVlJSmI2bxl-yy3posu4OZbNUvxZ-oNy52fYE-1HwPRCXEq0pQ05ls4EeObrgQGA5cJOnU4OHRSARhxNUNsJ-9_SzoS2vSfZboIiJpRWBKyPr1tkZFB7sfEhq-sEL6wiuOE4nMX3j1qkhxuQUoEZn_FRJOPY" />
                </div>
                <div class="mt-6 text-center">
                    <h3 class="text-xl font-bold font-headline">Elena Vance</h3>
                    <p class="text-sm text-on-surface-variant font-label tracking-wide uppercase mt-1">Lead Curator</p>
                </div>
            </div>
            <!-- Team Card 3 -->
            <div
                class="col-lg-4 col-12 group relative bg-surface-container-lowest p-4 ">

                <div
                    class="p-5 text-center overflow-hidden grayscale group-hover:grayscale-0 transition-all duration-700">
                    <img class="w-100"
                        data-alt="Professional portrait of a male sound engineer in black and white style, studio background"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuA_OqN03dx9UYWWBzx3gMK8FP3chwQAbbL3GTPThn3vjBgKCXUpIsDWZm6F6UEotfX45QWTi7v_QAwg8gYvc6GqXBj6yeVjQKnvcU8GYrTbr59Ur2qdCNucO7ny9ssh0l7HGMKEkVXs8mnVro7tPN6xkT9efO0gMmwb4UTDN_EiSW3SvJWDU-FjBf_t6KcqOjMP-t5KUc4tyB3-SSGeav3cm6WnsipB9N5bsNSAHNG7sfvNdEVbWNMCvVURbrQPxy711MvwdRkLNRo" />
                </div>
                <div class="mt-6 text-center">
                    <h3 class="text-xl font-bold font-headline">Marcus Chen</h3>
                    <p class="text-sm text-on-surface-variant font-label tracking-wide uppercase mt-1">Sonic Engineer
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>