<section class="container mx-auto py-5 d-flex flex-wrap">
  <div class="col-md-6">
    <h2 class=" fw-bold h1 ">We live and breathe audio.</h2>
  </div>
  <div class="col-md-6">
    <div class="mb-4">
      <p class="lead">Our mission is to bridge the gap between technical perfection and aesthetic elegance. We don't
        just sell equipment; we provide the instruments that deliver the soundtracks of your life.</p>
      <p class="lead">Every product in our collection undergoes rigorous testing to ensure it meets our standard of "The
        Sonic Curator."</p>
    </div>
    <ul class="list-unstyled">
      <li class="d-flex align-items-center mb-4">
        <span class="material-symbols-outlined text-primary bg-light p-1 rounded-circle mr-2"
          data-icon="check_circle">check_circle</span>
        <span class="font-weight-bold">Quality Guaranteed</span>
      </li>
      <li class="d-flex align-items-center mb-4">
        <span class="material-symbols-outlined text-primary bg-light p-1 rounded-circle mr-2"
          data-icon="local_shipping">local_shipping</span>
        <span class="font-weight-bold">Free Shipping</span>
      </li>
      <li class="d-flex align-items-center mb-4">
        <span class="material-symbols-outlined text-primary bg-light p-1 rounded-circle mr-2"
          data-icon="verified_user">verified_user</span>
        <span class="font-weight-bold">2-Year Warranty</span>
      </li>
    </ul>
  </div>
</section>