
<section class="py-5 bg-light">
  <div class="container text-center">
    <span class="material-icons text-primary display-4 mb-4"><i class="bi bi-envelope"></i></span>
    <h2 class="h2 fw-bold mb-4 text-dark">Join the Club</h2>
    <p class="text-muted mb-4">Subscribe to receive updates, access to exclusive deals, and more.</p>
    <form class="d-flex flex-column w-50 m-auto flex-sm-row gap-2">
      <input class="form-control me-2" placeholder="Your email address" type="email" />
      <button class="btn btn-primary text-white px-4 py-2 rounded-xl fw-bold">Subscribe</button>
    </form>
  </div>
</section>