<div class = "container register-container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div>
      <h1>LOGO</h1>
      </div>
      <h2 class="text-center mb-4">Create an Account</h2>
      <p class= "text-muted small"> Join 50,000+ tech enthusiasts</p>
      <form >
              <div class="row g-3 mb-3">
               <div class="col-6">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                 </div>
        <div class=" col-6">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
</div>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email" aria-label="Email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" aria-label="Password">
        </div>
          <div class="form-check mb-2">
            <input
              class="form-check-input custom-check"
              type="checkbox"

              id="agreeTerms"

            />
            <label class="form-check-label" for="agreeTerms">
              I agree to the <a href="#" class="register-link">Terms of Service</a> and <a href="#" class="register-link">Privacy Policy</a>.
            </label>
            <div class="invalid-feedback">You must accept the terms.</div>
          </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>


      </form>

      <div class="mt-4 text-center">
  <p class="text-muted fw-medium">
    Already have an account?
    <a class="text-primary fw-bold" href="#">Sign In</a>
  </p>
</div>
