        nav {
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
        }
        .badge{
            left: 90%;
            top: 10px;
        }
        .auth{
            bottom: -30px;
            right: 20px;
        }